<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-fileUpload #fileUpload
            name="files" 
            url="http://localhost:5001/upload" 
            [multiple]="true"
            accept="text/csv"
            [fileLimit]=3
            [customUpload]="true"
            (uploadHandler)="uploadFiles($event)">
        <ng-template pTemplate="toolbar">
            <div class="py-3">Upload a maximun of three 3 Files with CSV format</div>
        </ng-template>        
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>